body {
    margin:     0;
    padding:    0;
    width:      21cm;
    height:     29.7cm;
}

/* Printable area */
#print-area {
    position:   relative;
    top:        1cm;
    width:      100%;
    height:     100%;
    font-size:      10px;
    font-family:    Arial;
}

#header {
    height:     3cm;
    background-color: #ccc;
}
#footer {
    text-align: center;
    bottom:     0;
    width:      100%;
    height:     180px;
    background-color: #ccc;
}