<!DOCTYPE html>
<html lang="es">
<head>
    <title>Gracias por registrarse</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aneimera">
    <meta name="author" content="Albert Castellano Moreno">
</head> 

<body>
			  <div class="alert alert-success">
				  <strong>Registro exitoso, imprima y acerquese al simposium con el documento que llegara en los proximos minutos a su correo</strong>
			  </div>
              <a href="{{ path('homepage') }}">Regresar a pagina principal</a>
</body>
</html> 